@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@500;600&display=swap");
body {
  font-family: inter;
  overflow-y: hidden;
  overflow-x:hidden;
}
* {
  font-family: inherit;
}
#root{
  overflow-x:hidden;
}
